* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}
.img-container img {
  height: 40px;
  margin-left: 40px;
}
.navbar {
  background-color: #272f33;
}
.nav-link {
  font-size: 1rem;
  margin-right: 20px;
}

.main {
  padding-bottom: 6%;
  min-height: 100vh;
  background-color: #1f2125;
  background-image: url("islam-muslim-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: contain;
  padding-bottom: 10%;
}

.main h2 {
  text-align: center;
  color: whitesmoke;
  font-size: 4rem;
  font-family: "AMIRI";
  padding-bottom: 6%;
  padding-top: 10%;
}
.main .custom-button {
  margin-left: 15%;
  padding: 1rem;
  margin-top: 2rem;
  border: 2px solid #367d8b;
  width: 70%;
  outline: none;
  background-color: #1f2629;
  color: white;
  border-radius: 20px;
}
.main .custom-button:hover {
  background-color: #0dcaf0;
  color: black;
  transition: 0.5s ease-in-out;
}
.main .t1 {
  font-size: 18px;
  font-weight: 500;
}
.main h2::before,
.main h2::after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  margin: 0 auto;
  width: 50%;
}

.main h2::before {
  margin-bottom: 30px;
}

.main h2::after {
  margin-top: 20px;
}

#surah-name {
  margin-left: 46%;
  opacity: 0.8;
  color: white;
}

.surah-slider {
  margin-bottom: 2%;
}
.seek-bar {
  width: 100%;
  position: absolute;
}

.seek-bar {
  position: absolute;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #367d8b;
  cursor: pointer;
  overflow: hidden;
}
.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1px;
  height: 20px;
  background: #000;
  box-shadow: -650px 0 0 650px #0dcaf0;
}
.current-time,
.surah-duration-time {
  font-size: 14px;
  position: absolute;
  color: white;
  padding-top: 1%;
}
.surah-duration-time {
  right: 0;
}
.audio {
  padding-bottom: 0%;
  background-color: black;
  width: 80%;
  margin: auto;
  border-radius: 2%;
}
.controls {
  position: relative;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
  margin-bottom: 1%;
}
.play-btn {
  width: 45px;
  height: 45px;
  outline: none;
  border-radius: 50%;
  background-color: #367d8b;
  cursor: pointer;
  border: none;
  margin: auto;
}
.play-btn span {
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-50%);
  width: 10px;
  height: 25px;
  border-radius: 2px;
  background-color: white;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.play-btn span:nth-child(2) {
  left: 65%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2) {
  transform: translateY(-50%) scaleY(0);
}
.play-btn.pause span:nth-child(1) {
  top: auto;
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0px;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}

.backward-btn .fa-solid {
  left: 25px;
}
.forward-btn .fa-solid {
  right: 0px;
}

#searchInput {
  width: 100%;
  direction: rtl;
  text-align: right;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin: auto;
  color: white;
  opacity: 0.8;
  border-radius: 0px;
  box-shadow: none;
  position: relative;
}

#searchInput::placeholder {
  color: white;
  opacity: 0.8;
}
#searchInput:focus {
  border-bottom: 2px solid #a5b68d;
  transition: 0.4s ease-in-out;
}
.fa-solid {
  position: absolute;
  z-index: 4;
  margin-top: 10px;
  margin-right: 94%;
  color: white;
  font-size: 15px;
  opacity: 0.8;
  cursor: pointer;
}
.label {
  width: 25%;
  z-index: 2;
  direction: rtl;
  margin-left: 75%;
  display: block;
  margin-top: -20px;
}
#searchInput {
  width: 100%;
  direction: rtl;
  text-align: right;
  padding-right: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  margin: auto;
  color: white;
  opacity: 0.8;
  border-radius: 0px;
  box-shadow: none;
  position: relative;
}

#searchInput::placeholder {
  color: white;
  opacity: 0.8;
}
#searchInput:focus {
  border-bottom: 2px solid #367d8b;
  transition: 0.4s ease-in-out;
}
.fa-solid {
  position: absolute;
  z-index: 4;
  margin-top: 10px;
  margin-right: 94%;
  color: white;
  font-size: 15px;
  opacity: 0.8;
  cursor: pointer;
}
.label {
  width: 20%;
  z-index: 2;
  direction: rtl;
  margin-left: 80%;
  display: block;
  margin-top: -20px;
}

@media only screen and (max-width: 755px) {
  .main {
    padding-bottom: 18%;
  }
  .audio {
    width: 100%;
  }
  .fa-solid {
    font-size: 13px;
    margin-top: 15px;
  }
  .label {
    margin-left: 70%;
    width: 30%;
  }
  #searchInput::placeholder {
    font-size: 14px;
  }
  .t1 {
    font-size: 13px;
  }

  .main h2 {
    font-size: 28px;
    padding-top: 100px;
  }
  .btn .t1 {
    font-size: 14px;
  }
  .main .custom-button {
    width: 100%;
    margin: 5% auto;
  }
  .play-btn {
    width: 37px;
    height: 37px;
    margin-left: 27px;
  }
  .play-btn span {
    width: 7px;
    height: 13px;
  }
  .seek-bar {
    top: 0;
  }
  .surah-slider {
    padding-top: 2%;
  }
  #surah-name {
    font-size: 15px;
    margin-top: 2%;
  }

  body {
    font-size: 16px;
  }
}

/* the latest version */
