* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}
.img-container img {
  height: 40px;
  margin-left: 40px;
}
.navbar {
  background: linear-gradient(to right, #363082, #435575);
}
.nav-link {
  font-size: 1rem;
  margin-right: 20px;
}

.main {
  height: auto;
  background: linear-gradient(to right, #241f63, #435575);
}
.main h2 {
  text-align: center;
  color: whitesmoke;
  font-size: 4rem;
  font-family: "AMIRI";
  padding-bottom: 6%;
  padding-top: 12%;
}
.main button {
  margin-left: 15%;
  padding: 0.2rem;
  margin-top: 2rem;
  border: none;
  width: 70%;
  outline: none;
  background-color: #a5b68d;
  border-radius: 20px;
}

.main button:hover {
  background-color: #bad496;
  transition: 0.3s ease-in-out;
}

.main button a {
  display: block;
  padding: 5% 5%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.main h2::before,
.main h2::after {
  content: "";
  display: block;
  height: 2px;
  background: white;
  margin: 0 auto;
  width: 50%;
}

.main h2::before {
  margin-bottom: 30px;
}

.main h2::after {
  margin-top: 20px;
}
@media only screen and (max-width: 755px) {
  .main {
    padding-bottom: 18%;
  }

  h5 {
    font-size: 13px;
  }
  .main .text-white {
    font-size: 14px;
  }

  .main h2 {
    font-size: 28px;
    padding-top: 100px;
  }
  .btn h5 {
    color: red;
    font-size: 14px;
  }

  #surah-name {
    font-size: 13px;
    padding-top: 10px;
    overflow: hidden;
  }

  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 756px) and (max-width: 980px) {
  .main {
    padding-bottom: 7%;
  }
}
